@import url("https://fonts.googleapis.com/css?family=Nunito:700|Open+Sans&display=swap");

body {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito";
}
