@mixin mq($width, $type: min) {
  @if map_has_key($grid-breakpoints, $width) {
    $width: map_get($grid-breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin mq_range($min, $max) {
  @if (
    map_has_key($grid-breakpoints, $min) and
      map_has_key($grid-breakpoints, $max)
  ) {
    $width_max: map_get($grid-breakpoints, $max);
    $width_min: map_get($grid-breakpoints, $min);
    $width_max: $width_max - 1px;
    @media only screen and (min-width: $width_min) and (max-width: $width_max) {
      @content;
    }
  }
}
