// Breakpoints

//Colors
$c-primary: #268bd2;
$c-primary-2: #7aaafa;
$c-secondary: #3a3768;

$f-paragraph: #252525;
$f-title: #444444;
$f-title-2: #666666;
$f-muted: #767676;

$g-primary: inear-gradient(270deg, #3a3768 -15.61%, #268bd2 107.2%);
